<!DOCTYPE html>
<html>
<head>
  <title>TreeHuddleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/alerts' %>
<%= render 'layouts/nav' %>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<footer>
        <hr><div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Contact Us:</strong>
                    </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:paul.mr.harrison@gmail.com">paul.mr.harrison@gmail.com</a>
                        </li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:nadin@stanford.edu">nadin@stanford.edu</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; treeHuddle 2016</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
